/*font for titile=> WonderGames*/
@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');


#title{
  font-family: 'Fascinate', cursive;
  font-size: 20px;
  font-weight: bolder;
  color: green;
  padding: 0;
  position: relative;
  left: 5%;
}
    nav {
      height: auto;
      display: flex;
      overflow: hidden;
      background-color:  white;
   
      box-shadow: 1px 1px grey;
    }
    
    #vertical-menu{
      position: absolute;
      right: 5%;
    }
    li{
      float: left;
      padding: 10px;
      list-style: none;
      
    }

    #search_bar{
      left: 25%;
      position: relative;
     
      border: none;
   
      font-size: 15px;
      height: 40px;
      width: 200px;
      top: 15px;
      background-color: azure;
    }
    a{
      text-decoration: none;

      font-size: 17px;
      color: chocolate;
    }

